<ion-view title="Ticket">
    <ion-content class="has-header">
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-bookmark"></button>
        </ion-nav-buttons>

        <div class="img-header">
            <img src="/eglapp/eglapp/{{printticket.logo}}" class="full-image">
        </div>
        <img src="/eglapp/eglapp/{{printticket.logo}}" class="discover-image">
        <h4 class="text-center">{{printticket.title}}</h4>

        <div class="list  text-center">
            <div class="item">
                <p><i class="icon ion-calendar"></i><br> {{printticket.startdate}} @ {{printticket.starttime}} - {{printticket.endtime}}</p>
            </div>
            <div class="item">
                <iframe width="100%" height="150" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Mumbai%2C%20Maharashtra%2C%20India&key=AIzaSyCPdr5VG2QmzUdpExEivaSEMjm0vI3_Su4"></iframe>
                <p><i class="icon ion-location"></i><br>Mumbai Bank
                    <br>{{printticket.location}}
                    <br>400099</p>
            </div>
            <div class="item">
                <p><i class="icon ion-person"></i>
                    <br>by {{printticket.organizername}}</p>
            </div>
            <div class="item" ng-repeat="ticket in printticket.usertickets">Ticket <span class="balanced">{{ticket.ticket}}</span> Quantity <span class="balanced">{{ticket.quantity}}</span></div>
        </div>
        
        <div class="padding">
            <button class="button button-block button-calm">Register</button>
        </div>

    </ion-content>
</ion-view>
