<ion-view title="Saved Events">
    <ion-content class="has-header">
        <div class="list">
           
            <a class="item item-thumbnail-left" href="#/app/discover/inner/{{val.id}}" ng-repeat="val in uevent">
                <img src="{{'http://localhost/eglapp11/demo/'+val.logo}}">
                <h2>{{val.title}}</h2>
                <p>{{val.location}}</p>
                <span class="date">{{val.startdate}} @ {{val.starttime}}<span>
                    <span class="item-note balanced">
                        Free
                    </span>
                    </a>
                        </div>
                        </ion-content>
                    </ion-view>
